<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    {% include "components/navbar.html" %}
    <h1>Profile</h1>
    Email - {{ profile.user.email }}<br>
    First name - {{ profile.user.first_name }}<br>
    Last name - {{ profile.user.last_name }}<br>
    Lang - {{ profile.user.lang }}<br>
    Date of birth - {{ profile.dob }}<br>
    Country - {{ profile.country }}<br>
    City - {{ profile.city }}<br>
    <hr>
    <a href="{% url 'profile-edit' pk=profile.id %}">Profile edit</a><br>
</body>
</html>